{
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "endOfLine": "auto"
}
